@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

header, footer, .main, .side {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.2), 0 0.25vw 0.25vw 0 rgba(0, 0, 0, 0.24);
}

header ul {
    list-style-type: none;
    text-align: center;
    padding: 0.5vw;
    overflow: hidden;
}

header li {
   display: inline;
}

header li a{
    display: inline-block;
    color: #262626;
    text-align: center;
    padding: 0.5vh 0.5vw;
    text-decoration: none;
}

header li a:hover:not(.active) {
    color: #004ecc;
}

header .active {
    font-weight: bold;
}

header .left {
    padding-left: 15%;
    float: left;
}

header .right {
    float: right;
    padding-right: 25%;
}

header .logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #004ecc;
  padding: 0;
}

header .user {
  background-color: red;
  padding-left: 10px;
}

.user-msg {
  border-left: 2px solid #004ecc;
  padding: 0.5vh 0.5vw;
}

/**/

.error-msg, .success-msg {
    width: 33%;
    margin: auto;
    margin-top: 1%;
    padding: 0.1em;
    padding-left: 1%;
    overflow: hidden;
    position: relative;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid #D8000C;
}

.success-msg {
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 1px solid #00cc11;
}

.error-msg .close, .success-msg .close {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  padding: 1%;
}

.error-msg .close:hover, .success-msg .close:hover{
  opacity: 0.5;
  cursor: pointer;
}

.error-msg img, .error-msg p, .success-msg img, .success-msg p{
  display: inline-block;
}

.error-msg img, .success-msg img {
  height: 100%;
  vertical-align: middle;
}

#video {
  /*ransform: scaleX(-1);*/
}

/**/

footer {
  font-size: 0.9em;
}


/**/

.photo-page {
  padding: 1%;
  overflow: hidden;
}

.main {
  width: 74%;
  height: 75vh;
  float: left;
}

.main button, select{
  outline: 0;
  width: 35%;
  border: 0;
  margin: 0 0 1.5vh;
  padding: 3%;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  background: #262626;
  color: #FFFFFF;
  cursor: pointer;
}

.main .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.main label {
  outline: 0;
  width: 35%;
  border: 0;
  margin: 0 0 1.5vh;
  padding: 3% 6%;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  background: #004ecc;
  color: #FFFFFF;
  cursor: pointer;  
}

.main .inputfile:disabled {
  background: red;
}

.main label:hover:not(.inputfile:disabled) {
  background-color: #262626;
}

.main button:hover:not(:disabled) {
  background: #004ecc;
}

.main button:disabled {
  opacity: 0.6;
}

.main input {
  background-color: #004ecc;
}

.main table {
  width: 100%;
  height: 100%;
  padding: 2%;
  position: relative;
}
/*
.main table, th, td {
    border: 1px solid black;
}*/

.main table td {
    width: 50%;
}

.main table tr:first-child {
  height: 200px;
}

.main table ul {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.main table li {
   display: inline;
   padding: 0 1%;
}

.main table li img {
  vertical-align: middle;
}

.main .camera, .output{
  position: relative;
}

.main #sticker, #video, #canvas, #preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main #sticker, #preview {
  z-index: 10;
}

.side {
  width: 24%;
  height: 75vh;
  float: right;
  overflow-y: scroll;
}

.side ul {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin: 5% 0 1% 0;
}

.side li {
   display: inline;
   font-size: 0.9em ;
}

.side li:first-child {
    float: left;
}

.side li:nth-child(2) {
    float: right;
}

.side a {
  color: #262626;
  
}

.side a:hover {
  color: #004ecc;
}

.side hr {
  margin-bottom: 10%;
}

.side .thumbnail img {
  width: 100%;
}

/**/

.login-page {
  width: 30%;
  padding: 8% 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFFFFF;
  padding: 12%;
  text-align: center;
  box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.2), 0 0.25vw 0.25vw 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 1.5vh;
  padding: 5%;
  box-sizing: border-box;
  font-size: 0.9em;
}

.form input:focus:not(.button) {
    background-color: #ddd;
}

.form .button {
  text-transform: uppercase;
  background: #262626;
  color: #FFFFFF;
  cursor: pointer;
}
.form .button:hover {
  background: #004ecc;
}
.form .message {
  margin: 5% 0 0;
  color: #b3b3b3;
  font-size: 0.8em;
}
.form .message a {
  color: #262626;
  text-decoration: none;
}

.form .message a:hover  {
    color: #004ecc;
}

.form .error {
    margin: 5% 0 0;
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

/**/

.next-div {
  width: 33%;
  float: center;
  margin: 2% auto;
  text-align: center;
  font-size: 0.9em;
}

.next-div a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 1vw;
    margin: 0 0.25vh;
}

.next-div a:hover:not(.dots) {
    background-color: #FFFFFF;
    color: black;
}

.next-div .type2 {
    background-color: #004ecc;
    color: white;
}

.next-div .type1 {
    background-color: #262626;
    color: white;
}

.next-div .dots {
  text-decoration: none;
  cursor: default;
}

/**/

.gallery-post {
  width: 33%;
  padding: 0.5vw 0;
  margin: 2% auto;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.2), 0 0.25vw 0.25vw 0 rgba(0, 0, 0, 0.24);
}

.gallery-post .pic {
   text-align: center;
}

.gallery-post p, ul{
    padding: 0 6%;
    word-wrap: break-word;
}

.gallery-post ul {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}

.gallery-post li {
   display: inline;
}

.gallery-post li:first-child {
    float: left;
}

.gallery-post li:nth-child(2) {
    float: right;
}

.gallery-post hr {
    border-color: #004ecc;
}

.gallery-post a {
  text-decoration: none;
  color: #004ecc;
  font-weight: bold;
}

.gallery-post a:hover {
  text-decoration: underline;
}

.gallery-post .comment-input {
  outline: 0;
  background: #e5e5e5;
  width: 88%;
  border: 0;
  padding: 2%;
  box-sizing: border-box;
  font-size: 0.9em;
  word-wrap: break-word;
  margin: 0 6%;
  margin-bottom: 2%;
}

.gallery-post .comment-input:focus {
  background-color: #ddd;
}


.gallery-post #comment img {
  visibility: hidden;
}

.gallery-post #comment img:hover {
  opacity: 0.5;
}

.gallery-post #comment:hover img {
  visibility: visible;
  cursor: pointer;
}